.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
}

.forecastForm {
  display: flex;
  flex-direction: column;
}

.daily {
  /* change to tailwind version */
  width: 50%;
  /* height: 70%; */
}

.dailytextContainer {
}

.forecastText {
  text-align: center;
}
